* {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(125px, auto);
}

.grid {
	padding: 25px;
	font-size: 3rem;
	box-sizing: border-box;
}

.header {
	background-color: aquamarine;
	grid-column: 1 / 13;
	grid-row: 1 / 2;
}

.sidebar {
	background-color: crimson;
	grid-column: 1 / 3;
	grid-row: 2 / 5;
}

.main {
	background-color: purple;
	grid-column: 3 / 13;
	grid-row: 2 / 4;
	height: 400px;
}

.ec {
	background-color: cyan;
	grid-column: 3 / 13;
	grid-row: 4 / 5;
}

.footer {
	background-color: yellow;
	grid-column: 1 / 13;
	grid-row: 5 / 6;
	text-align: center;
}